<footer class="site-footer">
    <div id="FooterBody">
        &copy; Copyright 2005&ndash;{{ 'now' | date: '%Y' }}
        <a href="mailto:{{ site.email.info }}" type="text/html">Transmission Project</a>, All Rights Reserved<br/>
        Security issue? <a href="mailto:{{ site.email.security }}">Let us know!</a>
        <span id="Credits">Website contributions by <a href="http://www.strandeddesign.com">Stranded Design</a> and <a href="http://www.boolable.ca">Boolable</a></span><br/>
    </div>
    <div id="Donate">
        <a href="{{ site.baseurl }}{% link donate.html %}">&nbsp;</a>
    </div>
</footer>
