<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
    <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}{% link css/main.scss %}">
    {% if page.addons contains "fancy_zoom" %}
    <script src="{{ site.baseurl }}/js/js-global/FancyZoom.js" type="text/javascript"></script>
    <script src="{{ site.baseurl }}/js/js-global/FancyZoomHTML.js" type="text/javascript"></script>
    {% endif %}
    <meta name="robots" content="noarchive" />
</head>
