@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("fonts/roboto-v30-latin-300.eot");
  src: local(""),
    url("fonts/roboto-v30-latin-300.eot?#iefix") format("embedded-opentype"),
    url("fonts/roboto-v30-latin-300.woff2") format("woff2"),
    url("fonts/roboto-v30-latin-300.woff") format("woff"),
    url("fonts/roboto-v30-latin-300.ttf") format("truetype"),
    url("fonts/roboto-v30-latin-300.svg#Roboto") format("svg");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("fonts/roboto-v30-latin-regular.eot");
  src: local(""),
    url("fonts/roboto-v30-latin-regular.eot?#iefix") format("embedded-opentype"),
    url("fonts/roboto-v30-latin-regular.woff2") format("woff2"),
    url("fonts/roboto-v30-latin-regular.woff") format("woff"),
    url("fonts/roboto-v30-latin-regular.ttf") format("truetype"),
    url("fonts/roboto-v30-latin-regular.svg#Roboto") format("svg");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("fonts/roboto-v30-latin-700.eot");
  src: local(""),
    url("fonts/roboto-v30-latin-700.eot?#iefix") format("embedded-opentype"),
    url("fonts/roboto-v30-latin-700.woff2") format("woff2"),
    url("fonts/roboto-v30-latin-700.woff") format("woff"),
    url("fonts/roboto-v30-latin-700.ttf") format("truetype"),
    url("fonts/roboto-v30-latin-700.svg#Roboto") format("svg");
}
